*,
*::before,
*::after {
    box-sizing: border-box;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

main, 
footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
}