*,
*::before,
*::after {
    box-sizing: border-box;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

main {
    display: flex !important;
    justify-content: center;
    align-content: center;
}